.blog-item {

    &__title {
        display: block;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__body {
        font-size: 14px;
        margin: 0;
    }
}