.blog {
    padding-bottom: 20px;
    

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        
    }

    &__item {
        padding: 0 15px;
        margin-bottom: 30px;
    }

    &__error-message {
        padding: 0 15px;
    }

}